name: CI

on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - 'docs/**'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ourochronos/our-infra/.github/workflows/lint.yml@main
    with:
      extra-install: "git+https://github.com/ourochronos/our-db.git"
  test:
    needs: lint
    uses: ourochronos/our-infra/.github/workflows/test.yml@main
    with:
      extra-install: "git+https://github.com/ourochronos/our-db.git"
